.App {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 50px;
  }
  
  .file-upload {
    margin: 20px;
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  .result {
    margin-top: 20px;
    text-align: left;
    white-space: pre-wrap;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    margin: 0 auto;
  }
  